body {
  color: var(--color-main);
  background-color: var(--color-main-bg);
  padding: 12px;
}

a {
  color: white;
}

.float-right {
  float: right;
}

button {
  border: none;
  border-radius: 1px;
}

button.info {
  background-color: var(--color-info);
  color: white;
}

button.success {
  background-color: var(--color-success);
  color: white;
}

button.warning {
  background-color: var(--color-warning);
  color: white;
}

button.danger {
  background-color: var(--color-danger);
  color: white;
}

.joinlink {
  padding: 8px;

  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-console-border);

  color: var(--color-info);
  font-weight: bold;
  user-select: all;
  font-style: italic;

  margin: 12px;

  background-color: rgba(255, 255, 255, 0.1);
}
